.footer {
height: 100%;
position: relative;
display: flex;
flex-direction: column;
color: #3e3e3e;
overflow: hidden;
background-color: #e4d7b2;

 font-family: var(--font-text);
}


.footer__content {
z-index: 1;
display: flex;
justify-content: space-between;
margin: 60px 80px;
}


.footer__title {
font-family: var(--font-title);
font-size: 20px;
font-weight: 700;
margin-bottom: 15px;
}


.footer__contact-list,
.footer__list {
list-style-type: none;
padding: 0;
margin: 0;
display: flex;
flex-direction: column;
gap: 12px;
}


.footer__contact-item a {
color: #3e3e3e;
text-decoration: none;
font-weight: 400;
}


.footer__list-item {
display: flex;
align-items: center;
}


.footer__social-icon {
width: 20px;
height: 20px;
margin-right: 10px;
object-fit: contain;
background: none;
border: none;
}


.footer__social-link {
font-size: 16px;
color: #3e3e3e;
text-decoration: none;
transition: opacity 0.2s ease-in-out;
}


.footer__social-link:hover {
opacity: 0.7;
}


.footer__copyright {
margin-top: 60px;
margin-bottom: 40px;
margin-left: 80px;
font-size: 14px;
opacity: 0.8;
}
.footer__contact-icon {
width: 20px;
height: 20px;
margin-right: 10px;
filter: brightness(0) invert(1);
object-fit: contain;
}
@media screen and (min-width: 320px) and (max-width: 544px) {

  .footer__content {
    flex-direction: column;
    text-align: center;
    gap: 40px;
    margin: 40px 20px;
  }

  .footer__title {
    font-size: 18px;
  }

  .footer__social-link,
  .footer__contact-item a {
    font-size: 14px;
  }

  .footer__list-item,
  .footer__contact-item {
    justify-content: center;
  }

  .footer__copyright {
    text-align: center;
    margin-left: 0;
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 13px;
  }
}



/* ========================================================= */
/* 📲📲📲 VISTA TABLET (545px – 1023px) */
/* ========================================================= */

@media screen and (min-width: 545px) and (max-width: 1023px) {

  .footer__content {
    margin: 50px 40px;
    gap: 30px;
  }

  .footer__title {
    font-size: 19px;
  }

  .footer__social-link,
  .footer__contact-item a {
    font-size: 15px;
  }

  .footer__copyright {
    margin-left: 40px;
    font-size: 14px;
  }
}